
logger:
  level: "DEBUG"

network:
  id: "node-1" # unique identifier for this node
  address: "0.0.0.0:7000" # address to bind the server to
  # list of peer nodes in the cluster (can include self for easier cluster configuration)
  peers:
    - id: "node-1"
      address: "0.0.0.0:7000"
    - id: "node-2"
      address: "0.0.0.0:7001"
    - id: "node-3"
      address: "0.0.0.0:7002"
    - id: "node-4"
      address: "0.0.0.0:7003"
    - id: "node-5"
      address: "0.0.0.0:7004"

snapshot:
  path: ".data/snapshot.db"
  interval: 3600 # in seconds
  threshold: 1048576 # 1MB number of bytes in wal before snapshot is triggered

wal:
  path: ".data/wal.log"

redis:
  host: "localhost"
  port: 6379

  # time to wait on socket operations read/write before timing out
  # 0 means no timeout
  # this includes time spent waiting for a free worker
  timeout: 5 # in seconds
  max_message_size: 1024 # 1KB

  # max number of pending requests in the queue
  max_pending: 1000

  # max number of workers that can be spawned equiv to max concurrent connections, hovewer at high load it may spawn little more
  max_workers: 100

  # number of idle workers to keep alive at all times
  base_workers: 10

  # time after which idle workers are terminated
  worker_ttl: 10 # in seconds

  # number of idle connections each worker can handle before spawning a new worker
  # If all workers are busy a new worker is spawned if pending_connections > active_workers * idle_connections_per_worker
  # it helps to limit the number of workers spawned during high loads
  idle_connections_per_worker: 3