
logger:
  level: "DEBUG"

snapshot:
  path: ".data/snapshot.db"
  interval: 3600 # in seconds
  threshold: 1048576 # 1MB number of bytes in wal before snapshot is triggered

wal:
  path: ".data/wal.log"

redis:
  host: "localhost"
  port: 6379

  # time to wait on socket operations read/write before timing out
  # 0 means no timeout
  timeout: 5 # in seconds
